* {
	padding:  0px;
	margin:  0px;
}

/*.tile {
	width: 10%;
	height: 10px;
	background-color: #3f3;
}*/

.mainArea {
	background-color: #333;
}

.tile {
  border: 0.5px solid black;
  background-color: #3f3;
  width:10px;
  padding: 100%;
  box-sizing: border-box;
  position: relative;
}
/*p {
  position: absolute;
  top: 0;
  left: 0;
}*/
#tilelist li{
	margin: 8px 8px 0px 8px;
	display: inline;
	float:  left;

}