* {
	padding:  0px;
	margin:  0px;
}

.test {
  transition: all linear 1s;
  background-color: lightblue;
  height: 100px;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}
.ng-hide {
  height: 0;
  width: 0;
  background-color: transparent;
  top:-200px;
  left: 200px;
}

.mainArea {
	background-color: #333;
}

.tile {
  border: 0.5px solid black;
  background-color: #3f3;
  width:10px;
  padding: 100%;
  box-sizing: border-box;
  position: relative;
}

#tilelist {
	width: 100%;
	height: 100%;
}

#tilelist li{
	margin: 8px 8px 0px 8px;
	display: inline;
	float:  left;
}