<!DOCTYPE html>

<html class="mainArea">

<head>

    <link rel="stylesheet" type="text/css" href="css/main.css">
    <title>timesink</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

</head>


<body ng-app = "tilesApp">
    <div ng-controller = "MainController">
        <h1 class="title">timesink</h1>
        <input type="number" ng-model="amount">
        <p> {{ amount }}</p>        
        <input type="text" ng-model="color">
        <p> {{ color }}</p>        
            <div class="container" >
                <ul id="tilelist" >
                    <li ng-repeat = "tile in newArr(amount) track by $index">
                        <div class="tile" style="background-color:{{'#' + color}}"></div>
                    </li>
                </ul>
            </div>
    </div>


<script src="js/tilesApp.js"></script>

<script src="js/controllers/MainController.js"></script>

<!-- <script src="js/directives/tileShow.js"></script> -->



</body>

<!-- eof -->
</html>